body {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
}
.newyear-banner {
  width: 1320px;
  margin: 50px auto;
}

hr{
  width: 1320px;
  text-align: center;
}

.description {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  padding: 50px 340px;
}

.banner-title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding-top: 170px;
}

.banner-Celebration {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
}

/* =============== Discount Section Start=============================== */

.discount-section {
  text-align: center;
  padding: 0 398px;
  margin-top: 120px;
}

.discount {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 0;
}

.discount-title {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 48px;
  margin-bottom: 0;
}

.discount-sub-title {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 48px;
}

/* ======================Midnight Party section start=========================== */

.midnight-party {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  width: 1320px;
  margin: 0 auto;
  display: flex;
  margin-top: 120px;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}

.party-item {
  width: 70%;
  padding: 60px 126px;
}

.midnight-party-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
}

.midnight-party-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.party-join-link {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.midnight-party > .party-item-img {
  width: 40%;
  padding: 68px 138px 68px 37px;
}

/* ==============time section ============ */
.time-section {
  text-align: center;
  background: linear-gradient(rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0) 100%);
  width: 1320px;
  margin: 0 auto;
  border-radius: 15px;
}
.time-section > .join > h3 {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  display: block;
}

.time-section > .join {
  padding: 100px 385px;
}

.party-place,
.party-date,
.party-time {
  color: #f00;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}

.joining-btn {
  padding: 16px 32px;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 100px;
  margin-top: 48px;
}

/* ==================Cooming Soon Sectio Start====================== */

.comming-soon-section {
  display: flex;
  width: 1320px;
  margin: 120px auto;
}

.Comming-soon-heading {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}

.comming-soon-info {
  margin-right: 70px;
}

.comming-soon-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  text-transform: capitalize;
  margin-top: 26px;
}

.cooming-soon-description {
  width: 393px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.comming-soon-img {
  margin-right: 130px;
  border-radius: 463px;
  border: 15px solid #f00;
  padding: 20px;
}

.comming-soon-year {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.cooming-soon-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 276px;
}

.new-year-cooming {
  width: 140px;
}

/* ==========================FUNCTIONAL section start========================= */

.functional {
  width: 1320px;
  margin: 0 auto;
  text-align: center;
}

.functional-heading {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  margin-bottom: 16px;
}

.functional-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 0;
}

p.functional-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  width: 1068px;
  margin: 0 auto;
  margin-top: 28px;
}

.position-img {
  width: 1320px;
  margin: 0 auto;
  margin-bottom: 120px;
  height: 730px;
}
.funtional-img {
  width: 1320px;
  position: absolute;
  margin-top: 070px;
}

.img-1 {
  position: absolute;
  top: 400px;
  top: -29px;
  left: 0;
}
.img-2 {
  position: absolute;
  right: 285px;
  top: 85px;
  margin-left: 82px;
}
.img-3 {
  position: absolute;
  right: 0;
  z-index: -2;
}
.img-4 {
  position: absolute;
  top: 433px;
  z-index: -1;
}

/* ================protfolio section start============================= */
.protfolio {
  width: 1320px;
  margin: 0 auto;
}

.protfolio-heading {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.protfolio-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 22px;
}

.protfolio-description {
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 48px;
}

.protfolio-img {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 24px;
  margin-top: 0;
}

.protfolio-img img {
  transition: 1s ease;
}

.protfolio-img img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

/* ===============Subscribe section start=========================== */

.subscribe-section {
  width: 1320px;
  margin: 120px auto;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
  height: 616px;
}

.subscribe-img {
  width: 150px;
  margin-top: 80px;
}

.subscribe-title {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

.subscribe-description {
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  margin: 0 auto;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 48px;
}

.subscribe-section > label {
  position: relative;
  padding-bottom: 80px;
}

.subscribe-section > label > input {
  border: none;
  border-radius: 50px;
  background: #fff;
  padding: 17px;
  width: 648px;
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}

.subscribe-section > label > button {
  position: absolute;
  border: none;
  padding: 16px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  width: 210px;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

/* =============footer section start============== */
footer {
  background: #070211;
  margin-top: 120px;
  color: #fff;
}

.information {
  width: 1320px;
  margin: 0 auto;
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adress {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.contact {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.social-icon{
  width: 1320px;
  margin: 0 auto;
  padding:48px 0;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}

.copy-right{
  width: 1320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 50px 0 120px 0;
}